<% files.forEach((item)=>{%>
    <img src="/file/download/<%= item %>" width="100px" height="100px">
    <a href="/file/download/<%= item %>"> <%= item %> </a><br>
    <hr>
    <a href="/file/delete_file/<%= item %>">삭제</a>
    <hr>
    <a href="/file/modify_form/<%= item %>">수정</a>
    <hr>
<% }); %>
<hr>
<a href="/file/"> file_index이동 </a>